@use 'variables';
@use 'mixins';

* {
    padding: 0;
    margin: 0;
    font-family: "Schoolbell", cursive;
}

body {
    background-color: #272727;

    img {
        width: 200px;
        margin: 20px;
    }

    .container {
        @include mixins.flex(center);
        gap: 20px;
        margin: 70px auto
    }

    h1 {
        color: variables.$cor_primaria;
        letter-spacing: 3px;
    }

    h2, p, input {
        color: variables.$cor_clara;
        letter-spacing: 2px;
    }

    .input {
        @include mixins.flex(space-between, row);
        background-color: #4949498c;
        border-radius: 20px;
        padding: 10px 20px;
        width: 60%;
        box-shadow: 0 8px 20px rgba(0,0,0,0.4);

        input, button {
            border: none;
            background: none;
        }

        input {
            width: 100%;
            color: variables.$cor_clara;
            font-size: 18px;
            padding: 5px;

            &::placeholder {
                color: variables.$cor_clara;
                font-size: 18px;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            transition: all 0.3s ease;

            &:hover {
                transform: translateY(-3px) scale(1.05);
            }
        }

        img {
            width: 100px;
        }
    }

    .resposta {
        color: variables.$cor_clara;
        margin-top: 20px auto;
        max-width: 60%;

        p, li {
            font-size: 18px;
        }
    }
}