<body>
    <head>
        <title>Assistente Pokémon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Estilização e Fontes -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style/global.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Caveat+Brush&family=Chewy&family=Schoolbell&display=swap" rel="stylesheet">
    </head>
    <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo Pokémon" class="logo"/>
    <div>
        <h1>Olá, eu sou o Pokente!</h1>
        <h2>Seu assistente virtual para tudo sobre Pokémon. Me pergunte qualquer coisa!</h2>
        <div>
            <input type="text" id="user-input" placeholder="Digite sua pergunta aqui..." />
            <button id="send-button">Enviar</button>
        </div>
        <div id="response-container">
            <!-- Respostas aparecerão aqui -->

        </div>
    </div>
    <footer>
    </footer>
</body>