<body>
    <head>
        <title>Pokibot | Assistente Pokémon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ícone -->
       <link rel="icon" href="{{ url_for('static', filename='icons/icon.png') }}" type="image/png" sizes="32x32">

        <!-- Estilização e Fontes -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style/global.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Caveat+Brush&family=Chewy&family=Schoolbell&display=swap" rel="stylesheet">
    </head>
    <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo Pokémon"/>
    <div class="container">
        <h1>Olá, eu sou o Pokibot!</h1>
        <h2>Seu assistente virtual para tudo sobre Pokémon. Me pergunte qualquer coisa!</h2>
        <form method="POST" class="input">
            <input type="text" id="user-input" name="pergunta" placeholder="Digite sua pergunta aqui..." required />
            <button id="send-button">
                <img src="{{ url_for('static', filename='assets/enviar.png') }}" alt="Enviar" />
            </button>
        </form>
        
        <!-- Exibir resposta se existir -->
        {% if resposta %}
            <div class="resposta">
                <h2>Resposta:</h2>
                <p>{{ resposta|safe }}</p>
            </div>
        {% endif %}
    </div>
    <footer>
    </footer>
</body>